{% extends 'base.html.twig' %}

{% block title %}
	{{article.titre}}
{% endblock %}

{% block body %}
	<a class="text-info font-weight-light py-sm-5 text-decoration-none" href="{{ path('actualites_articles')}}">Retour à la liste des articles</a>


	<h1 class="font-weight-bold">{{ article.titre }}</h1>
	<p class="text-muted"> Publié le {{ article.createAt|date('d/m/Y à h\\hi') }}</p>
	<p class="text-muted">Catégories :
		{% for categorie in article.categories %}
			{{ categorie.name }}
		{% endfor %}
	</p>
	<p>
	<img src="{{ vich_uploader_asset(article, 'imageFile' ) | imagine_filter('article')}}" alt="{{ article.titre }}">
	</p>
	<div class="py-3">{{ article.contenu|raw }}</div>
	<h3 class="font-weight-bold"> Commentaires ({{ article.commentaires|length}})</h3>
	{% for commentaire in article.commentaires %}
		<p class="text-muted border-top py-1">Publié par {{commentaire.pseudo}}, le {{ commentaire.createdAt|date('d/m/Y à h\\hi') }} </p>
		<div>{{commentaire.contenu}}</div>
	{% else %}
		<p class="text-muted"> Il n'y a pas de commentaire, pour l'instant.</p>
			
		
	{% endfor %}

	<h2 class="pt-5 font-weight-bold">Ajoutez un commentaire</h2>

	{% if is_granted('ROLE_USER') %}

	{{form(formComment)}}

	{% else %}
	
	<p class="text-muted">Vous devez être connecté pour saisir un commentaire.</p>

	{% endif %}

	

	


{% endblock %}
