{% extends 'base.html.twig' %}

{% block title %}Liste des articles
{% endblock %}

{% block body %}
	{% for message in app.flashes('message') %}
		<div class="alert alert-success" role="alert">
			{{message}}
		</div>
	{% endfor %}


	<h1 class="h2 pb-3 font-weight-bold text-left">Le Blog de Damien</h1>

	{% if is_granted('ROLE_EDITOR') %}
		<div class="pb-5">
			<a href="{{ path('actualites_ajout_article')}}" class="btn btn-sm btn-info">Ajouter un article</a>

		</div>


	{% endif %}

	{% for article in articles %}
		<div class="py-1 border-bottom">
			<div class=" d-flex justify-content-left align-content-left">
				<a class="text-decoration-none text-info font-weight-bold" href="{{ path('actualites_article', {'slug': article.slug}) }}">{{ article.titre }}</a>
				<p class="pl-4 text-muted">
					crée le
					{{article.createAt |date('d/m/Y à h\\hi')}}
				</p>
			</div>
			<div class="text-left">
				{{article.contenu|raw}}
			</div>
		</div>


	{% endfor %}
	{% endblock %}

